
h1
{
    position: relative;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 20px;
    margin: 0;
    font-size: 50px;
}




html, body
{
    margin: 0px;
    padding: 0px;
    border: 0px;
    background-color: #C8DBBD;
    

}
#box
{
    margin: 100px;
    padding: 10px;
    max-width: 300px;
    width: calc(40% - 80px);
    height: calc(80% - 80px);
    background-color: #fff;
    box-shadow: 5px 5px 10px #808080;
    display: flex;
    justify-content: left;
    align-items: left;
}

#box header, #day_field
{
    display: flex;

}
#box header
{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
}

#year
{
    display: block;
}
#day
{
    font-size: 18px;
    font-weight: bold;
    margin-left: 130px;
    margin-top: 20px;
    text-align: right;
 
}  
#date
{
    font-weight: bold;
    font-size: 50px;
}
#month_year
{
    margin-top: 14px;
    padding-left: 5px;
}
#month
{
    display: inline;
    flex-flow: column wrap;
    margin: 0;
    padding: 0;
    
}

#button-container
{
    display: flex;
    justify-content: center;
    align-items: center;
} 
#add_task
{
    font-weight: bold;
    border: none;
    background-color: #BED2F0;
    font-size: 2em;
    color: white;
    border-radius: 100%;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-top: 250px;
    margin-left: auto;
    margin-right: 350px;
    box-shadow: 5px 5px 10px #808080;
    
}





